.pageContent {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.2rem;
  text-align: justify;
}

.pageName {
  background-color: #061e38;
  color: #fff;
  padding: 50px;
  border-radius: 0px 0px 100px 0px;
  font-family: "Poppins";
}
