.profile {
  background-color: #eff6ff;
  font-family: "Poppins";
  color: #fff;
  padding: 50px 0px;
}

.profileContent {
}

.profileContentDesc {
  color: #4e5764;
}

.profileContentTitle h5 {
  color: #061e38;
  font-weight: 600;
  font-size: 1.5rem;
}

.profileContentTitle::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #553df7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profileImage img {
  border-radius: 0px 50px 50px 50px;
  box-shadow: -10px 10px #061e38;
}

.visi {
  background-color: #061e38;
  width: 50%;
  padding: 50px;
  color: #fff;
  font-family: "Poppins";
}

.misi {
  background-color: #553df7;
  width: 50%;
  padding: 50px;
  color: #fff;
  font-family: "Poppins";
}

.visiMisiContainer {
  display: flex;
  flex-wrap: wrap;
}

.textTitle {
  font-family: "Ubuntu";
}

.textContent {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 1.2rem;
}

.buttonTransparent {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.buttonTransparent:hover {
  transform: translateX(20px);
  transition: all 0.5s;
  color: #061e38;
}

.history {
  font-family: "Poppins";
}

@media only screen and (max-width: 600px) {
  .visi {
    background-color: #061e38;
    width: 100%;
    padding: 50px;
    color: #fff;
    font-family: "Poppins";
  }

  .misi {
    background-color: #553df7;
    width: 100%;
    padding: 50px;
    color: #fff;
    font-family: "Poppins";
  }
}
